<section class="center"><div class="wrap">
  <p class="sec-h">{{ blk.sec_h|raw }}</p>
  <h2 class="sec-t display">{{ blk.sec_t|raw }}</h2>
  <p class="sec-sub">{{ blk.sec_sub|raw }}</p>
  <ul class="checks" style="text-align:left">
{% for item in blk.items %}    <li>{{ item|raw }}</li>
{% endfor %}  </ul>
</div></section>
