<section class="faraday"><div class="wrap"><div class="grid">
  <div>
    <p class="sec-h" style="color:#7fd6e8">{{ blk.sec_h|raw }}</p>
    <h2 class="sec-t display">{{ blk.sec_t|raw }}</h2>
    <p class="sec-sub">{{ blk.sec_sub|raw }}</p>
  </div>
  <div class="panel"><div class="g"></div><span>{{ blk.panel_label|raw }}</span></div>
</div></div></section>
